
/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body takes at least full viewport height */
}

body {
    font-family: 'Arial', sans-serif; /* Modern font, can be changed to a more 'cinematic' font if available */
    color: rgb(255, 255, 255); /* White text color as requested */
    background-image: url('bilder/arrangement-movie-elements-black-background.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-attachment: fixed; /* Keep the background fixed during scrolling */

    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 100vh; /* Minimum height to cover the full viewport */

}

header h1 {
    text-align: left; /* Left align the title */
    padding: 20px; /* Add some padding */
    font-size: 70px; /* Larger font size for the title */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10%;

}

main p {
    padding: 0 20px; /* Padding on left and right */
    font-size: 1em; /* Standard font size for paragraphs */
    max-width: 800px; /* Maximale Breite festlegen, um die Lesbarkeit zu verbessern */
    font-family: 'Courier New', Courier, monospace;
}

header, main {
    text-align: left; /* Links ausrichten */
    width: 100%; /* Die volle Breite nutzen */
   
  
    align-self: flex-start; /* Innerhalb des Flex-Containers links ausrichten */
}

#movingButton {
    
            position: absolute;
           
            background-color: red; /* Rote Hintergrundfarbe */
            color: white; /* Weiße Textfarbe */
            border: none; /* Keinen Rand anzeigen */
            border-radius: 50%; /* Vollständig runde Ecken für einen kreisförmigen Button */
            width: 70px; /* Breite des Buttons */
            height: 70px; /* Höhe des Buttons */
            display: flex; /* Flexbox verwenden, um den Text zu zentrieren */
            align-items: center; /* Vertikale Ausrichtung im Flex-Container */
            justify-content: center; /* Horizontale Ausrichtung im Flex-Container */
            font-size: 16px; /* Schriftgröße */
            cursor: pointer; /* Cursor-Stil ändern, wenn die Maus über den Button fährt */
            overflow: hidden; /* Text, der über den Rand hinausgeht, abschneiden */
        }
        


